<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<body>
<table border="1">
<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Password</th>
<th>Address</th>
<th>Update</th>
<th>Remove</th>
</tr>
</thead>
<tbody>
<tr th:each="pro:${abc}">
<td th:text="${pro.id}">id</td>
<td th:text="${pro.name}">name</td>
<td th:text="${pro.password}">password</td>
<td th:text="${pro.address}">address</td>
<td><a th:href="@{'/edit/' + ${pro.id}}">Update</a></td>
<td><a th:href="@{'/delete/' + ${pro.id}}">Remove</a></td>
</tr>
</tbody>
</table>
<br><br>
<a href = "addData">add</a>
</body>
</html>